In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset_taxiFare/preprocessed_data_2020 (1).csv')
df1.columns

Index(['time_category_encoded', 'month', 'day', 'PULocationID', 'DOLocationID',
       'trip_distance', 'total_amount'],
      dtype='object')

In [4]:
df1.head()

,time_category_encoded,month,day,PULocationID,DOLocationID,trip_distance,total_amount
0,1,1,1,74,74,0.46,4.8
1,1,1,1,74,69,1.88,9.8
2,1,1,1,41,41,0.76,7.8
3,1,1,1,49,181,2.24,11.8
4,1,1,1,244,244,0.60,6.3

In [5]:
df1.shape

(1652872, 7)

In [6]:
df_new = df1[df1['month'].isin([8,9,10])]

In [7]:
df_new.shape

(250443, 7)

In [8]:
df_new.isna().sum()

time_category_encoded    0
month                    0
day                      0
PULocationID             0
DOLocationID             0
trip_distance            0
total_amount             0
dtype: int64

In [10]:
print(min(df_new['total_amount']))
print(max(df_new['total_amount']))

k=[i for i in df_new['total_amount'] if i < 0]
len(k)

0.12
550.8

0

In [11]:
df_new = df_new[df_new['total_amount'] > 0]
k=[i for i in df_new['total_amount'] if i < 0]
len(k)

0

In [12]:
print(min(df_new['trip_distance']))
print(max(df_new['trip_distance']))

k=[i for i in df_new['trip_distance'] if i < 0]
len(k)

0.01
205654.12

0

In [13]:
df_new = df_new[df_new['trip_distance'] > 0]
k=[i for i in df_new['trip_distance'] if i < 0]
len(k)

0

In [15]:
df_new['time_category_encoded'].unique()

array([1, 2, 3, 4, 5])

In [17]:
df_new.head()

,time_category_encoded,month,day,PULocationID,DOLocationID,trip_distance,total_amount
1237784,1,8,1,129,252,9.59,15.0
1237785,1,8,1,129,138,2.75,10.0
1237786,1,8,1,157,198,1.50,25.3
1237787,1,8,1,66,48,7.24,39.5
1237788,1,8,1,66,50,5.67,36.0

In [18]:
df_new.corr()['total_amount']

time_category_encoded   -0.112581
month                   -0.036951
day                     -0.000450
PULocationID             0.169756
DOLocationID             0.078519
trip_distance            0.007431
total_amount             1.000000
Name: total_amount, dtype: float64

In [19]:
df_clean = df_new.copy()
df_clean.shape

(250443, 7)

In [20]:
y=df_clean['total_amount']
x=df_clean.drop(columns=['total_amount'])

In [21]:
from sklearn.model_selection import  train_test_split
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size= 0.3, random_state=42)

In [22]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(175310, 6)
(175310,)
(75133, 6)
(75133,)

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [24]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Train the model
model = GradientBoostingRegressor(
    n_estimators=100,
    learning_rate=0.1,
    max_depth=5,
    random_state=42
)
model.fit(x_train, y_train)

# Predict
y_pred = model.predict(x_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"MAE:  {mae:.4f}")
print(f"MSE:  {mse:.4f}")
print(f"RMSE: {rmse:.4f}")
print(f"R²:   {r2:.4f}")

MAE:  4.0094
MSE:  35.1694
RMSE: 5.9304
R²:   0.8624

In [ ]:
import pickle

# Save to Pickle file
with open("GradientBoostingRegression_taxi_model.pkl", "wb") as f:
    pickle.dump(model, f)